.our-services {
    margin-bottom: 105px;
    .services-header {
        margin-bottom: 60.5px;
        .head-sec {
            margin-bottom: 19.5px;
        }
        .services-desc {
            margin-top: 0;
            font-size: 15px;
        }
    }
    .services-content {
        display: flex;
        @include maxSmall {
            flex-wrap: wrap;
        }
        > div {
            margin-left: 72px;
            @include maxSmall {
                margin-bottom: 40px;
                text-align: center;
            }
            @include maxMobile {
                margin-left: 0;
            }
            &:first-of-type {
                margin-left: 70px;
                @include maxMobile {
                    margin-left: 0;
                }
            }
            .icon-cont {
                width: 85px;
                height: 85px;
                background-color: rgba($defaultBtnColor, .1);
                border-radius: 50%;
                @extend %center-flex;
                margin-bottom: 18px;
                @include maxSmall {
                    margin: 0 auto 18px;
                }
            }
            h4 {
                font-size: 20px;
                color: $flatblue;
                font-weight: normal;
                margin-bottom: 19px;
            }
            p {
                font-size: 15px;
                color: $flatblack;
                line-height: 26px;
                margin-bottom: 19px;
            }
            a {
                display: block;
                color: $flatblue2;
                @extend %text-capital;
                i {
                    margin-left: 10px;
                }
            }
        }
    }
}