.defaultBtn {
    background-color: $defaultBtnColor;
    color: $flatFFF;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 15px;
    width: 136px;
    height: 48px;
}