%center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
%bg-cover {
    background-size: cover;
}
%f-bold {
    font-weight: bold;
}
%text-capital {
    text-transform: capitalize;
}