// Media Queries
$maxExtraMobile: "(max-width: 575px)";
$minMobile: "(min-width: 576px)";
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(max-width: 1199px)";
$minLarge: "(min-width: 1200px)";

// default font size
$fontSize: 16px;

// colors
$flatFFF: #FFF;
$flatblue: #072753;
$flatblue2: #1B498A;
$flatblue3: #011021;
$flatblue4: #A9B2BC;
$flatblack3: #28384E;
$flatblack: #28384E;
$flatEEE: #EEE;
$defaultBtnColor: #FF9C00;

// social colors
$facebook: #3A5897;
$twitter: #1DA0F1;
$youtube: #C4302B;